// Place all the styles related to the admins/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// admin側 customers----------------------
.admins_customers_show_main{
	background: #f5f2e5;
	background-sizee: contain;
}

.admins_customers_index_main{
	background: #f5f2e5;
	background-sizee: contain;
}

.admins_customers_edit_main{
	background: #f5f2e5;
	background-sizee: contain;
}

// admin側 genres------------------------

.admins_genres_edit_main{
	background: #f5f2e5;
	background-sizee: contain;
}

.admins_genres_index_main{
	background: #f5f2e5;
	background-sizee: contain;
}

// admin側 homes-------------------------

.admins_homes_top_main{
	background: #f5f2e5;
	background-sizee: contain;
}

// admin側 order_items-------------------

.admins_order_items_index_main{
	background: #f5f2e5;
	background-sizee: contain;
}

.admins_order_items_show_main{
	background: #f5f2e5;
	background-sizee: contain;
}

// admin側 products-----------------------
.admins_products_index_main{
	background: #f5f2e5;
	background-sizee: contain;
}

.admins_products_show_main{
	background: #f5f2e5;
	background-sizee: contain;
}

.admins_products_edit_main{
	background: #f5f2e5;
	background-sizee: contain;
}

.admins_products_new_main{
	background: #f5f2e5;
	background-sizee: contain;
}

