<h1>注文情報確認</h1>
<div>
	<table>
		<thead>
			<tr>
				<th>商品名</th>
				<th>単価（税込）</th>
				<th>数量</th>
				<th>小計</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>data</td>
				<td>data</td>
				<td>data</td>
				<td>data</td>
			</tr>
		</tbody>
	</table>
</div>
<div>
	<table>
		<thead>
			<tr>
				<th>送料</th>
				<th>商品合計</th>
				<th>請求金額</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>800</td>
				<td>データ</td>
				<td>データ</td>
			</tr>
		</tbody>
	</table>
</div>

<div>
	<div>支払い方法</div>
	<div>クレジットカード</div>
</div>

<div>
	<div>お届け先</div>
	<div>xxx xxx   xxxxx<br>山田花子</div>
</div>

<%= link_to "購入を確定する", orders_thanks_path %>