<h1>注文情報入力</h1>

<div>
	<h2>支払い方法</h2>
	<table>
		<thead>
			<tr>
				<th>クレジットカード</th>
				<th>銀行振込</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
</div>

<div>
	<h2>お届け先</h2>
	<table>
		<thead>
			<tr>
				<th>ご自身の住所</th>
				<th>登録済み住所から選択</th>
				<th>新しいお届け先</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>xxxxxx xxxxxxxx 山田太郎</td>
				<td><input></td>

				<table>
					<thead>
						<tr>
							<th>郵便番号（ハイフンなし）</th>
							<th>住所</th>
							<th>宛名</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><input></td>
							<td><input></td>
							<td><input></td>
						</tr>
					</tbody>
				</table>

			</tr>
		</tbody>
	</table>
</div>
